# This Action Runs the Testing Suite

on:
  pull_request:
    types: [opened, reopened]
    branches: [main]

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"
      - name: Run Testing
        run: npm test
